// Set size
$column-gap: 0.75rem;
$box-padding: 0;
$footer-padding: 2rem 1.5rem;

// Set colors
$primary: #38b2ac;
$primary-invert: #fff;
$danger: #dc3545;
$danger-invert: #fff;
$danger-light: #feecf0;
$danger-light-invert: #dc3545;

// Set links color
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-as-text: #363636;
